* {
    /* font-family: 'Roboto', sans-serif; */
    font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p, span {
    font-family: 'Roboto', sans-serif !important;
}

input::placeholder{
    font-family: 'Roboto', sans-serif !important;
    font-style: italic;
}